body {

    width: auto;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: rgb(114, 4, 4);
    color: whitesmoke;
}

nav {

    text-align: center;
    background-color: goldenrod;
    padding: 5px;

}

footer {

    margin-top: 13px;
    background-color: goldenrod;
    color: black;
}

h1 {

    margin-top: 20px;
    margin-bottom: 13px;
    font-size: 1.6em;
    text-align: center;

}

a {

    color: black;
}

P {

    padding-left: 5px;
}

img {

    border: 2px solid black;
}

#home_page {

    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(31, 31, 231);
    border: 2px solid black;
}

#books {

    text-align: center;
    list-style: none;
}

.me {

    height: auto;
}