body {

    width: auto;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: rgb(114, 4, 4);
    color: whitesmoke;
}

nav {

    text-align: center;
    background-color: goldenrod;
    padding: 5px;

}

footer {

    margin-top: 13px;
    background-color: goldenrod;
    color: black;
}

h1 {

    margin-top: 20px;
    margin-bottom: 13px;
    font-size: 1.6em;
    text-align: center;

}

a {

    color: black;
}

P {

    padding-left: 5px;
}

img {

    border: 2px solid black;
}

#home_page {

    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(31, 31, 231);
    border: 2px solid black;
}

#todo_page {

    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(31, 31, 231);
    border: 2px solid black;
}

#todo_list {
    width: 1000px;
    height: 500px;
}

#todo_input {
    width: 300px;
    margin: 25px 170px;
}

#books {

    text-align: center;
    list-style: none;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#img_carousel {
    margin-top: 30px;
    margin-bottom: 30px;
}

#poke_api {
    width: 1000px;
    height: 200px;
    text-align: center;
}

#pokemon_name {
    margin-top: 10px;
}

#pokemon_sprite {
    border: none;
}

.me {

    height: auto;
}

.todo-list {

    width: 400px;
    float: right;

}